html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  height: 100%;
}

button.btn {
  color: white;
  background-color: #00008b;
  width: 8rem;
  text-transform: capitalize;
}

.first-col {
  height: 100%;
  /* position: fixed; */
}

.logo {
  padding-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid black;
}

.logo img {
  width: 100%;
}

nav ul {
  padding-left: 0;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;
  padding-bottom: 1rem;
  padding: 1rem;
  border-bottom: 2px solid black;
  cursor: pointer;
}

nav ul li.active {
  background-color: #00008b;
  color: white;
  border-bottom: 2px solid #00008b;
}

.action-row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 1rem;
}

.action-row div {
  display: flex;
}

.table thead {
  color: white;
  background-color: #00008b !important;
  font-weight: 700;
}

.table tbody {
  color: rgba(26, 5, 117, 0.966) !important;
}


/* FOR ICONS */
img.fa {
  margin: 1rem;
  cursor: pointer;
  color: #00008b;
  width: 20px;
  height: 20px;
}

img.fa.trash-can {
  color: rgb(224, 5, 5);
}

/* EDIT DATATABLES VIEW */
.dataTables_length, .dataTables_filter {
  margin-bottom: 0.5em;
}